<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OCL Category"
            id="tudresden.ocl20.eclipse.plugins.visual">
      </category>
      <view
            name="Model Visualization"
            icon="icons/sample.gif"
            category="tudresden.ocl20.eclipse.plugins.visual"
            class="tudresden.ocl20.eclipse.plugins.visual.views.ASTView"
            id="tudresden.ocl20.eclipse.plugins.visual.views.ASTView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="tudresden.ocl20.eclipse.plugins.visual.views.ASTView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="tudresden.ocl20.eclipse.plugins.visual.contribution1"
            nameFilter="*.ocl"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="tudresden.ocl20.eclipse.plugins.visual.menu1"
               label="Model Visualization"
               path="additions">
            <separator name="group1"/>
         </menu>
         <action
               class="tudresden.ocl20.eclipse.plugins.visual.popup.actions.LoadFileAction"
               enablesFor="1"
               id="tudresden.ocl20.eclipse.plugins.visual.newAction"
               label="Load OCL File"
               menubarPath="tudresden.ocl20.eclipse.plugins.visual.menu1/group1"/>
      </objectContribution>
      <objectContribution
            id="tudresden.ocl20.eclipse.plugins.visual.contribution2"
            nameFilter="*.xmi"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="tudresden.ocl20.eclipse.plugins.visual.menu2"
               label="Model Visualization"
               path="additions">
            <separator name="group1"/>
         </menu>
         <action
               class="tudresden.ocl20.eclipse.plugins.visual.popup.actions.LoadFileAction"
               enablesFor="1"
               id="tudresden.ocl20.eclipse.plugins.visual.loadXmiAction"
               label="Load XMI File"
               menubarPath="tudresden.ocl20.eclipse.plugins.visual.menu2/group1"/>
      </objectContribution>
   </extension>

</plugin>
