<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
    <extension
    		point="tudresden.ocl20.pivot.modelbus.metamodels">
      <metamodel
            icon="icons/xsd.gif"
            id="tudresden.ocl20.pivot.metamodels.xsd"
            modelProvider="tudresden.ocl20.pivot.metamodels.xsd.internal.provider.XSDModelProvider"
            name="XML Schema Meta-Model">
      </metamodel>
   </extension>

</plugin>
