<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="tudresden.ocl20.pivot.interpreter.ui.actionSet"
            label="Interpreter Action Set"
            visible="true">
         <menu
               icon="icons/dresdenocl.gif"
               id="tudresden.ocl20.pivot.modelbus.ui.menu"
               label="Dresden OCL">
            <separator
                  name="tudresden.ocl20.pivot.modelbus.ui.menu.import">
            </separator>
            <separator
                  name="tudresden.ocl20.pivot.modelbus.ui.menu.tools">
            </separator>
         </menu>
         <action
               label="Open OCL Interpreter"
               icon="icons/dresdenocl.gif"
               class="tudresden.ocl20.pivot.interpreter.ui.actions.InterpreterViewAction"
               tooltip="Opens the OCL Interpreter of Dresden OCL."
               menubarPath="tudresden.ocl20.pivot.modelbus.ui.menu/tudresden.ocl20.pivot.modelbus.ui.menu.tools"
               id="tudresden.ocl20.pivot.interpreter.ui.actions.InterpreterViewAction">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="tudresden.ocl20.views.category"
            name="Dresden OCL">
      </category>
      <view
            category="tudresden.ocl20.views.category"
            class="tudresden.ocl20.pivot.interpreter.ui.internal.views.InterpreterView"
            icon="icons/dresdenocl.gif"
            id="tudresden.ocl20.pivot.interpreter.ui.internal.views.InterpreterView"
            name="Dresden OCL Interpreter">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="tudresden.ocl20.pivot.ui.perspective">
         <view
               id="tudresden.ocl20.pivot.interpreter.ui.internal.views.InterpreterView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="tudresden.ocl20.pivot.interpreter.ui.internal.views.InterpreterView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
