<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="tudresden.ocl20.pivot.parser.ui.actionSet"
            label="Parser Action Set"
            visible="true">
         <menu
               id="tudresden.ocl20.pivot.modelbus.ui.menu"
               label="Dresden OCL2">
            <separator
                  name="tudresden.ocl20.pivot.modelbus.ui.menu.import">
            </separator>
            <separator
                  name="tudresden.ocl20.pivot.modelbus.ui.menu.tools">
            </separator>
         </menu>
         <action
               class="tudresden.ocl20.pivot.parser.ui.actions.ParseOCLWizardAction"
               icon="icons/ocl.gif"
               id="tudresden.ocl20.pivot.parser.ui.actions.ParseOCLWizardAction"
               label="Parse OCL2 Constraints"
               menubarPath="tudresden.ocl20.pivot.modelbus.ui.menu/tudresden.ocl20.pivot.modelbus.ui.menu.import"
               tooltip="Parse OCL2 Constraints for the selected Model in the Model Browser">
         </action>
       </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="tudresden.ocl20.pivot.modelbus.ui.importWizards.category"
            class="tudresden.ocl20.pivot.parser.ui.internal.wizards.ParseOCLWizard"
            icon="icons/ocl.gif"
            id="tudresden.ocl20.pivot.parser.ui.importWizards.loadOclWizard.LoadOCLWizard"
            name="OCL2 Constraints">
         <description>
            Parse OCL2 Constraints for the active model in the Model Browser of Dresden OCL2 for Eclipse.
         </description>
      </wizard>
   </extension>

</plugin>
