<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="tudresden.ocl20.pivot.modelbus.metamodels">
      <metamodel
            icon="icons/mof.gif"
            id="tudresden.ocl20.pivot.metamodels.mof"
            modelProvider="tudresden.ocl20.pivot.metamodels.mof.internal.provider.MofModelProvider"
            name="Mof">
      </metamodel>
   </extension>

</plugin>
