<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.dresdenocl.modelbus.ui.newWizards.category"
            class="org.dresdenocl.tools.codegen.ocl2java.ui.internal.wizards.JavaCodeWizard"
            hasPages="true"
            icon="icons/codegen.gif"
            id="org.dresdenocl.tools.codegen.ocl2java.ui.importWizards.loadModelWizard"
            name="Generate AspectJ Constraint Code">
         <description>
            Creates AspectJ code to instrument constraints for a given model and given OCL constraints.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dresdenocl.ui.perspective">
         <newWizardShortcut
               id="org.dresdenocl.tools.codegen.ocl2java.ui.importWizards.loadModelWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dresdenocl.modelbus.ui.menu.main">
         <command
               commandId="org.dresdenocl.tools.codegen.ocl2java.ui.generateCode"
               icon="icons/codegen.gif"
               label="Generate AspectJ Constraint Code"
               style="push"
               tooltip="Creates AspectJ code to instrument constraints for a given model and given OCL constraints.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dresdenocl.tools.codegen.ocl2java.ui.command.handler.JavaCodeGenHandler"
            id="org.dresdenocl.tools.codegen.ocl2java.ui.generateCode"
            name="Generate AspectJ Constraint Code">
      </command>
   </extension>

</plugin>
