<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.dresdenocl.language.ocl.resource.ocl.ui.OclUIMetaInformation" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.dresdenocl.language.ocl.resource.ocl.ui.OclEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="ocl" icon="icons/editor_icon.gif" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclEditor" name="EMFText ocl Editor">
			<contentTypeBinding contentTypeId="org.dresdenocl.language.ocl.resource.ocl">
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.dresdenocl.language.ocl.resource.ocl.ui.OclPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Ocl Text Editor" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclPreferencePage" class="org.dresdenocl.language.ocl.resource.ocl.ui.OclPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclSyntaxColoringPreferencePage" class="org.dresdenocl.language.ocl.resource.ocl.ui.OclSyntaxColoringPreferencePage" category="org.dresdenocl.language.ocl.resource.ocl.ui.OclPreferencePage">
		</page>
		<page name="Brackets" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclBracketPreferencePage" class="org.dresdenocl.language.ocl.resource.ocl.ui.OclBracketPreferencePage" category="org.dresdenocl.language.ocl.resource.ocl.ui.OclPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.dresdenocl.language.ocl.resource.ocl.ui.OclNewFileWizard" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclNewFileWizard" name="EMFText .ocl file">
		</wizard>
		<category id="org.emftext.runtime.ui.EMFTextProjectCategory" name="EMFText Project">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextProjectCategory" icon="/icons/default_new_icon.gif" class="org.dresdenocl.language.ocl.resource.ocl.ui.OclNewProjectWizard" id="org.dresdenocl.language.ocl.resource.ocl.ui.OclNewProjectWizard" name="EMFText ocl project" project="true">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.dresdenocl.language.ocl.resource.ocl.ui.OclMarkerResolutionGenerator" markerType="org.dresdenocl.language.ocl.resource.ocl.problem">
		</markerResolutionGenerator>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.dresdenocl.language.ocl.resource.ocl.ui.OclAnnotationModelFactory" extensions="ocl">
		</factory>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.dresdenocl.language.ocl.resource.ocl" name=".ocl File" base-type="org.eclipse.core.runtime.text" file-extensions="ocl">
		</content-type>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="ocl" id="org.dresdenocl.language.ocl.resource.ocl.ui.provider">
		</provider>
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.dresdenocl.language.ocl.resource.ocl.ui.occurences">
		</type>
		<type name="org.dresdenocl.language.ocl.resource.ocl.ui.occurences.declaration" super="org.dresdenocl.language.ocl.resource.ocl.ui.occurences">
		</type>
	</extension>
</plugin>
