<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="templateGroups" name="Template Groups" schema="schema/templategroups.exsd"/>
   <extension-point id="templateEngines" name="Template Engines" schema="schema/templateengines.exsd"/>
   <extension
         point="org.dresdenocl.tools.template.templateEngines">
      <templateEngine
            class="org.dresdenocl.tools.template.stringtemplate.StringTemplateEngine"
            name="String Template">
      </templateEngine>
   </extension>
</plugin>
