<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dresdenocl.presentation.DresdenoclModelWizardID"
            name="%_UI_DresdenoclModelWizard_label"
            class="dresdenocl.presentation.DresdenoclModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DresdenoclModelFile.gif">
         <description>%_UI_DresdenoclModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="dresdenocl.presentation.DresdenoclEditorID"
            name="%_UI_DresdenoclEditor_label"
            icon="icons/full/obj16/DresdenoclModelFile.gif"
            extensions="dresdenocl"
            class="dresdenocl.presentation.DresdenoclEditor"
            contributorClass="dresdenocl.presentation.DresdenoclActionBarContributor">
      </editor>
   </extension>

</plugin>
