<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="tudresden.ocl20.eclipseplugin"
   name="OCLToolkitForEclipse Plug-in"
   version="2.0.0"
   provider-name="TU-Dresden - SWT"
   class="tudresden.ocl20.eclipse.OCLToolkitForEclipsePlugin">

   <runtime>
      <library name="OCLToolkitForEclipse.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/antlr.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/stringtemplate.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/lib/jmi.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/lib/mof.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/lib/openide.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/mdr/nbjmi_jmiutils.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/mdr/nbjmi_mdrapi.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/mdr/nbjmi_mdrimpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/jgraph.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/jgraphaddons.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/sablecc.jar">
         <export name="*"/>
      </library>
      <library name="lib/external/xerces.jar">
         <export name="*"/>
      </library>
      <library name="lib/internal/ocl20jmiapi.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   <extension-point id="initializeMDR" name="initializeMDR" schema="eclipse/base/schema/initializeMDR.exsd"/>
</plugin>
