<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.dresdenocl.debug.launch.OclLaunchConfigurationDelegate"
            id="org.dresdenocl.debug.launch.launchConfigurationType"
            modes="run, debug"
            name="Ocl Launch">
      </launchConfigurationType>
   </extension>

</plugin>
