<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.dresdenocl.debug.launch.OclLaunchConfigurationDelegate"
            id="org.dresdenocl.debug.launch.launchConfigurationType"
            modes="run, debug"
            name="Ocl Launch">
      </launchConfigurationType>
   </extension>
 <extension
       id="org.dresdenocl.debug.lineBreakpoint.marker"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="true">
    </persistent>
    <super
          type="org.eclipse.debug.core.lineBreakpointMarker">
    </super>
    <super
          type="org.eclipse.core.resources.textmarker">
    </super>
 </extension>
 <extension
       point="org.eclipse.debug.core.breakpoints">
    <breakpoint
          class="org.dresdenocl.debug.model.OclLineBreakpoint"
          id="org.dresdenocl.debug.breakpoint"
          markerType="org.dresdenocl.debug.lineBreakpoint.marker"
          name="OCL Breakpoint">
    </breakpoint>
 </extension>
</plugin>
