<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="tudresden.ocl20.pivot.testsuite">
      <testSuites
            testSuite="tudresden.ocl20.pivot.standardlibrary.java.test.tests.AllStandardLibraryTests">
      </testSuites>
   </extension>

</plugin>
