<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Dresden OCL2 Toolkit"
            id="tudresden.ocl20.views.category">
      </category>
      <view
            name="Model Browser"
            icon="icons/models.gif"
            category="tudresden.ocl20.views.category"
            class="tudresden.ocl20.pivot.modelbus.ui.internal.views.ModelsView"
            id="tudresden.ocl20.pivot.modelbus.ui.views.models">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Temporary tests"
            id="tudresden.ocl20.pivot.modelbus.actionSet"
            label="Model Bus"
            visible="true">
         <action
               class="tudresden.ocl20.pivot.modelbus.ui.test.LoadModelsDelegate"
               id="tudresden.ocl20.pivot.modelbus.modelLoadAction"
               label="Load Models"
               style="push"
               toolbarPath="tests">
         </action>
      </actionSet>
   </extension>

</plugin>
