<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Codegen Action Set"
            visible="true"
            id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.actionSet">
         <menu
               label="DresdenOCL"
               id="org.dresdenocl.modelbus.ui.menu">
            <separator
                  name="org.dresdenocl.modelbus.ui.menu.import">
            </separator>
            <separator
                  name="org.dresdenocl.modelbus.ui.menu.tools">
            </separator>
            <groupMarker
            	name="org.dresdenocl.modelbus.ui.menu.tools.codegen">
            </groupMarker>
         </menu>
         <action
               class="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.actions.SQLCodeGenAction"
               icon="icons/codegen.gif"
               id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.actions.SQLCodeGenAction"
               label="Generate SQL Code"
               menubarPath="org.dresdenocl.modelbus.ui.menu/org.dresdenocl.modelbus.ui.menu.codegen"
               tooltip="Creates SQL code to instrument constraints for a given model and given OCL constraints.">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.dresdenocl.modelbus.ui.newWizards.category"
            class="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.internal.wizards.SQLCodeWizard"
            hasPages="true"
            icon="icons/codegen.gif"
            id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.importWizards.loadModelWizard"
            name="Generate SQL Constraint Code">
         <description>
            Creates SQL code for a Model and given OCL Constraints.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dresdenocl.ui.perspective">
         <newWizardShortcut
               id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.importWizards.loadModelWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
