<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.dresdenocl.modelbus.ui.newWizards.category"
            class="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.internal.wizards.SQLCodeWizard"
            hasPages="true"
            icon="icons/codegen.gif"
            id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.importWizards.loadModelWizard"
            name="Generate SQL Constraint Code">
         <description>
            Creates SQL code for a Model and given OCL Constraints.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dresdenocl.ui.perspective">
         <newWizardShortcut
               id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.importWizards.loadModelWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dresdenocl.modelbus.ui.menu.main">
         <command
               commandId="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.command.generateCode"
               icon="icons/codegen.gif"
               label="Generate SQL Code"
               style="push"
               tooltip="Creates SQL code to instrument constraints for a given model and given OCL constraints.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.command.handler.SqlCodeGenHandler"
            id="org.dresdenocl.tools.codegen.declarativ.ocl2sql.ui.command.generateCode"
            name="Generate SQL Code">
      </command>
   </extension>

</plugin>
