<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.dresdenocl.modelbus.metamodels">
      <metamodel
            icon="icons/ecore.gif"
            id="org.dresdenocl.metamodels.ecore"
            modelProvider="org.dresdenocl.metamodels.ecore.internal.provider.EcoreModelProvider"
            name="Eclipse Modeling Framework (EMF) Ecore">
      </metamodel>
   </extension>

</plugin>
