<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="tudresden.ocl20.pivot.testsuite">
      <testSuites
            testSuite="tudresden.ocl20.pivot.tools.codegen.declarativ.ocl2sql.test.AllOcl2SqlTests">
      </testSuites>
   </extension>

</plugin>
