<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dresdenocl.tracer.ui.actionSet"
            label="Tracer Action Set"
            visible="true">
         <menu
               icon="icons/dresdenocl.gif"
               id="org.dresdenocl.modelbus.ui.menu"
               label="Dresden OCL">
            <separator
                  name="org.dresdenocl.modelbus.ui.menu.import">
            </separator>
            <separator
                  name="org.dresdenocl.modelbus.ui.menu.tools">
            </separator>
            <groupMarker
            	name="org.dresdenocl.modelbus.ui.menu.tools.codegen">
            </groupMarker>
         </menu>
         <action
               label="Open OCL Tracer"
               icon="icons/dresdenocl.gif"
               class="org.dresdenocl.tracer.ui.actions.TracerViewAction"
               tooltip="Opens the OCL Tracer View of Dresden OCL."
               menubarPath="org.dresdenocl.modelbus.ui.menu/org.dresdenocl.modelbus.ui.menu.tools"
               id="org.dresdenocl.tracer.ui.actions.TracerViewAction">
         </action>
      </actionSet>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   		<view
           category="org.dresdenocl.views.category"
           class="org.dresdenocl.tracer.ui.internal.views.TracerView"
           id="org.dresdenocl.tracer.ui.internal.views.TracerView"
           name="Dresden OCL Tracer View"
           icon="icons/dresdenocl.gif">
        </view>
     	<category
           id="org.dresdenocl.views.category"
           name="Dresden OCL">
     	</category>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dresdenocl.ui.perspective">
         <view
               id="org.dresdenocl.tracer.ui.internal.views.TracerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="org.dresdenocl.tracer.ui.internal.views.TracerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
