<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="tudresden.ocl20.pivot.tools.transformation.transformations">
      <transformation
            class="tudresden.ocl20.pivot.tools.transformation.test.util.TestFalseTrans">
      </transformation>
   </extension>
</plugin>
