<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="tudresden.ocl20.pivot.tracer.ui.actionSet"
            label="Tracer Action Set"
            visible="true">
         <menu
               icon="icons/dresdenocl.gif"
               id="tudresden.ocl20.pivot.modelbus.ui.menu"
               label="Dresden OCL">
            <separator
                  name="tudresden.ocl20.pivot.modelbus.ui.menu.import">
            </separator>
            <separator
                  name="tudresden.ocl20.pivot.modelbus.ui.menu.tools">
            </separator>
         </menu>
         <action
               label="Open OCL Tracer"
               icon="icons/dresdenocl.gif"
               class="tudresden.ocl20.pivot.tracer.ui.actions.TracerViewAction"
               tooltip="Opens the OCL Tracer View of Dresden OCL."
               menubarPath="tudresden.ocl20.pivot.modelbus.ui.menu/tudresden.ocl20.pivot.modelbus.ui.menu.tools"
               id="tudresden.ocl20.pivot.tracer.ui.actions.TracerViewAction">
         </action>
      </actionSet>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   		<view
           category="tudresden.ocl20.views.category"
           class="tudresden.ocl20.pivot.tracer.ui.internal.views.TracerView"
           id="tudresden.ocl20.pivot.tracer.ui.internal.views.TracerView"
           name="Dresden OCL Tracer View"
           icon="icons/dresdenocl.gif">
        </view>
     	<category
           id="tudresden.ocl20.views.category"
           name="Dresden OCL">
     	</category>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="tudresden.ocl20.pivot.ui.perspective">
         <view
               id="tudresden.ocl20.pivot.tracer.ui.internal.views.TracerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="tudresden.ocl20.pivot.tracer.ui.internal.views.TracerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
