<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
   		<view
           category="tudresden.ocl20.views.category"
           class="tudresden.ocl20.pivot.tracer.ui.internal.views.TracerView"
           id="tudresden.ocl20.pivot.tracer.ui.internal.views.TracerView"
           name="Dresden OCL Tracer View"
           icon="icons/dresdenocl.gif">
        </view>
     	<category
           id="tudresden.ocl20.views.category"
           name="Dresden OCL">
     	</category>
   </extension>
</plugin>
