<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
    <extension
    		point="tudresden.ocl20.pivot.modelbus.metamodels">
      <metamodel
            icon="icons/java.gif"
            id="tudresden.ocl20.pivot.metamodels.java"
            modelProvider="tudresden.ocl20.pivot.metamodels.java.internal.provider.JavaModelProvider"
            name="Java Reflective Meta-Model">
      </metamodel>
   </extension>
</plugin>
