<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.views">
   		<view
           category="org.dresdenocl.views.category"
           class="org.dresdenocl.tracer.ui.internal.views.TracerView"
           id="org.dresdenocl.tracer.ui.internal.views.TracerView"
           name="Dresden OCL Tracer View"
           icon="icons/dresdenocl.gif">
        </view>
     	<category
           id="org.dresdenocl.views.category"
           name="Dresden OCL">
     	</category>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dresdenocl.ui.perspective">
         <view
               id="org.dresdenocl.tracer.ui.internal.views.TracerView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="org.dresdenocl.tracer.ui.internal.views.TracerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.dresdenocl.interpreter.ui.internal.views.InterpreterView?after=org.dresdenocl.interpreter.ui.internal.views.toolbar.ClearAll">
         <command
               commandId="org.dresdenocl.tracer.ui.command.trace"
               icon="icons/trace.gif"
               label="Trace"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dresdenocl.modelbus.ui.menu.main?after=interpreter">
         <command
               commandId="org.dresdenocl.tracer.ui.command.showView"
               icon="icons/dresdenocl.gif"
               label="Open OCL Tracer"
               style="push"
               tooltip="Opens the OCL Tracer View of Dresden OCL.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.dresdenocl.interpreter.ui.commandcategory.InterpreterView"
            defaultHandler="org.dresdenocl.tracer.ui.command.handler.TraceHandler"
            id="org.dresdenocl.tracer.ui.command.trace"
            name="Trace">
      </command>
      <command
            defaultHandler="org.dresdenocl.tracer.ui.command.handler.TracerViewHandler"
            id="org.dresdenocl.tracer.ui.command.showView"
            name="Open OCL Tracer">
      </command>
   </extension>
</plugin>
