<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.tu-dresden.de/ocl20/pivot/examples/simple"
            class="tudresden.ocl20.pivot.examples.simple.SimplePackage"
            genModel="model/simple.genmodel"/>
   </extension>

</plugin>
