<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/university"
            class="tudresden.ocl20.pivot.examples.university.UniversityPackage"
            genModel="model/university_complex.text.genmodel"/>
   </extension>

</plugin>
