<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dresdenocl.language.ocl.staticsemantics.ocl_staticsemantics_factory" name="ocl_staticsemantics_factory" schema="schema/ocl_staticsemantics_factory.exsd"/>
   <extension
         point="org.dresdenocl.language.ocl.resource.ocl.default_load_options">
      <provider
            class="org.dresdenocl.language.ocl.staticsemantics.postporcessor.OclLoadOptionsProvider"
            id="org.dresdenocl.language.ocl.staticsemantics.StaticSemantics">
      </provider>
   </extension>
   <extension
         point="org.dresdenocl.language.ocl.staticsemantics.ocl_staticsemantics_factory">
      <FactoryRegistration
            fileExtension="ocl"
            oclStaticSemanticsFactory="org.dresdenocl.language.ocl.staticsemantics.impl.OclStaticSemanticsFactoryImpl">
      </FactoryRegistration>
   </extension>

</plugin>
