<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.dresdenocl.views.category"
            name="Dresden OCL">
      </category>
      <view
            category="org.dresdenocl.views.category"
            class="org.dresdenocl.metrics.ui.MetricsView"
            icon="icons/dresdenocl.gif"
            id="org.dresdenocl.metrics.view"
            name="Dresden OCL Metrics View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dresdenocl.ui.perspective">
         <view
               id="org.dresdenocl.metrics.view"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="org.dresdenocl.metrics.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dresdenocl.modelbus.ui.menu.main">
         <command
               commandId="org.dresdenocl.metrics.ui.command.metricsview"
               icon="icons/dresdenocl.gif"
               label="Open OCL Metrics"
               style="push"
               tooltip="Opens the OCL Metrics View of Dresden OCL.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dresdenocl.metrics.ui.MetricsViewCommandHandler"
            id="org.dresdenocl.metrics.ui.command.metricsview"
            name="Open OCL Metrics">
      </command>
   </extension>

</plugin>
